@model IEnumerable<SD.Commons.Shared.Models.LogModel>

@{
    ViewBag.Title = "ListView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Assets/js/Pages")
<h2>Logs</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exception)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Extra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogTypeSub)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exception)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Extra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LogType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LogTypeSub)
        </td>
        <td>
            @*@Html.ActionLink("Details", "Details", new { id=item.Id })*@
            <button class="button-gegevens-user" onclick="Log.Details('@item.Id');">Gegevens</button>
        </td>
    </tr>
}

</table>
